.section__form {
    position: fixed; /* позицинорование фиксированное */
    top: 0; /* Элемент будет находиться на верхней границе экрана*/
    left: 0; /* Элемент будет находиться на левой границе экрана.*/
    width: 100%;/* Ширина 100% от окна браузера */
    height: 100%;/* Высота 100% от окна браузера */
    background-color: rgba(147, 173, 238, 0.7); /*задаем фон Полупрозрачный с цветом */
}
.application {
    position: absolute; /* позиционируется абсолютно*/
    top: 50%; /* верхняя часть смещена на 50% высоты родителя*/
    left: 50%;/*левая граница смещена на 50% ширины родителя*/
    transform: translate(-50%, -50%);/* смещаем элемент относительно его текущего положения*/
    max-width: 800px;/* Максимальная ширина окна */
    width: 100%;/* Ширина 100% от родительского элемента */
    padding: 50px 20px; /* Внутренние отступы: 50px сверху и снизу, 20px слева и справа */
    display: flex; /*Используем flexbox для выравнивания*/
    justify-content: center; /* распределяем элементы по центру*/ 
    align-items: center; /* выравнивание по вертикали */
    column-gap: 64px; /* отступы между столбцами */
    background-color: #b4c4e2; /*фон модального окна*/
    color: #fff; /*цвет текста*/
}
.form__title {
    font-size: 36px; /*размер шрифта для заголовков*/
}
.form {
    width: 500px; /*устанавливаем ширину для формы*/
    display: flex; /*Используем flexbox для выравнивания формы в строку*/
    flex-direction: column;
    row-gap: 10px; /* отступы между строками */
}
