.menu {
    margin: 10px;
    padding: 25px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.menu__link {
    display: block;
    padding: 20px;
    margin: 10px;
    background-color: rgb(185, 214, 237);
    color: rgb(14, 13, 13);
    text-decoration: none;
    transition:background-color 0.3s,
    color 0.3s ;
    border-radius: 4px;
}
.menu__link:hover{
    background-color: rgb(154, 180, 201);
    

}
.header__title {
    font-size: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header__menu{
    flex-grow: 1;
}
.title{
    flex-grow: 1;
    text-align: center;
}
.header__button{
    display: inline-block;
     padding: 10px;
     margin: 5px;
     background-color: rgb(106, 127, 146);
     color: rgb(243, 243, 243);
     text-decoration: none;
     transition:background-color 0.3s,
     color 0.3s ;
     border-radius: 4px;
     border: none;
    }

    .header__button:hover{
        background-color: rgba(3, 35, 61, 0.801);
    
    }

  
       
    